@import '../../styles/dados.scss';
.notFound{
  background: $background-color;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  a{
    padding: 1vh;
    margin: 1vh;
    background-color: $secundary-color;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
    &:hover{
      transition: 0.5s ease-in-out;
      text-decoration: underline;

    }
  }
}