@font-face {
  font-family: "Arboria-Light";
  src: url("//db.onlinewebfonts.com/t/bf7395f715c4c074d2a39e1c273afbaa.eot");
  src: url("//db.onlinewebfonts.com/t/bf7395f715c4c074d2a39e1c273afbaa.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/bf7395f715c4c074d2a39e1c273afbaa.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/bf7395f715c4c074d2a39e1c273afbaa.woff") format("woff"), url("//db.onlinewebfonts.com/t/bf7395f715c4c074d2a39e1c273afbaa.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/bf7395f715c4c074d2a39e1c273afbaa.svg#Arboria-Light") format("svg");
}
* {
  margin: 0px;
}

.Login {
  background: #F2C849;
  max-height: 100vh;
}
.Login .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10vh 10vw;
}
.Login .container .container-left {
  background-color: #A55C03;
  height: 80vh;
  width: 30vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 2% 0px 0px 2%;
  font-family: "Arboria-Light";
  color: white;
  font-weight: 300;
}
.Login .container .container-left h2 {
  font-size: 40px;
  font-family: "Arboria-Light";
  color: white;
  font-weight: 400;
}
.Login .container .container-left p {
  font-family: "Arboria-Light";
  color: white;
  font-size: 32px;
  text-align: center;
  padding: 10vh;
  width: 90%;
  font-weight: 100;
}
.Login .container .container-left a {
  padding: 2vh;
  background-color: #730202;
  color: white;
  text-decoration: none;
  border-radius: 10vh;
  font-weight: 500;
  transition: 0.5s ease-in-out;
}
.Login .container .container-left a:hover {
  background-color: white;
  color: black;
}
.Login .container .container-right {
  background-color: rgba(255, 252, 252, 0.5411764706);
  height: 80vh;
  width: 60vw;
  border-radius: 0px 2% 2% 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.Login .container .container-right h2 {
  margin-top: 11vh;
  margin-bottom: 5vh;
  font-family: "Arboria-Light";
  font-size: 3em;
}
.Login .container .container-right .input {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 11vh;
}
.Login .container .container-right .input span {
  margin: 5vh 0px 0px 2vh;
}
.Login .container .container-right .input span svg {
  transform: translate(35px, 4px);
  color: rgb(62, 62, 62);
  font-size: 1.4em;
}
.Login .container .container-right .input span input {
  border-radius: 10px;
  border: 1px solid gray;
  padding: 10px 70px;
  font-family: "Arboria-Light";
  font-size: 1.3em;
}
.Login .container .container-right button {
  cursor: pointer;
  background-color: #730202;
  color: white;
  border-radius: 5vh;
  width: 8vw;
  font-weight: 500;
  transition: 0.5s ease-in-out;
  border: 0.5px solid white;
  margin-bottom: 20vh;
  padding: 2vh;
}
.Login .container .container-right button:hover {
  background-color: white;
  color: black;
}/*# sourceMappingURL=Login_modules.css.map */