@import '../../styles/dados.scss';

*{
  margin: 0px;
}
.Login{
  @include Container;
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh 10vw;
    .container-left{
      @include Container-Left;
      h2{
        font-size: 40px;
        font-family: $titulos;
        color: white;
        font-weight: 400;
      }
      p{
        font-family: $titulos;
        color: white;
        font-size: 32px;
        text-align: center;
        padding: 10vh;
        width: 90%;
        font-weight: 100;
      }
      a{
        padding: 2vh;
        background-color: $minimum-color;
        color: white;
        text-decoration: none;
        border-radius: 10vh;
        font-weight: 500;
        transition: 0.5s  ease-in-out;
        &:hover{
          background-color: white;
          color: black;
        }
      }
    }
    .container-right{
    @include Container-Right;
      h2{
        margin-top: 11vh;
        margin-bottom: 5vh;
        font-family: $titulos;
        font-size: 3em;
      }
      .input{
        width: 50vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 10vh;
     span{
      margin:5vh 0px 0px 2vh;
      svg{
        transform: translate(35px,4px);
        color: rgb(62, 62, 62);
        font-size: 1.4em;
        
      }
      input{
        border-radius: 10px;
        border: 1px solid gray;
        padding: 10px 70px;
        font-family: $titulos;
        font-size: 1.3em;
      }
     }
    }
      button{
        cursor: pointer;
        background-color: $minimum-color;
        color: white;
        border-radius: 5vh;
        width: 8vw;
        font-weight: 500;
        transition: 0.5s  ease-in-out;
        border: 0.5px solid white;
        margin-bottom: 20vh;
        padding: 2vh;
        &:hover{
          background-color: white;
          color: black;
        }
      }
      }
    }
  }
  
